   <div class="contact">
              <p>
                 <img src="/images/email.GIF" height="10px">Email<br />
                <img src="/images/star.GIF" height="10px"> Twitter<br />
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="mailto:vicgs@proton.me">vicgs@proton.me</a><br />
                <a href="https://twitter.com/v103853929">twitter.com/v103853929</a><br />
              </p>
            </div>
            <div class="contact">
                <br><br><br>
              <p>
               cc vcnt.eu 23
              </p>
            </div>