 <h1 class="title"><a href="/"><img src="/images/logo.png" height="14px"> vcnt's corner </a></h1>
            <a class="extra" href="/">home</a>
            <a class="extra" href="/contact">contact</a>