<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width">
 <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

   </head>


    <body>

        <div class="site">
          <div class="header">
              {% include "header.njk" %}
          </div>
<br>
          <div id="home">
          <h1 class="post">{{ title }}</h1>
    <p class="meta">{{ date | formatDate }}</p>
    <br>
  <div class="post">
  {{ content | safe }}
  </div>

</div>


          <div class="footer">
          {% include "footer.njk" %}
          </div>
 

        </div>

    </body>
</html>